.what-happened {
  position: relative;
  text-align: center;
  width: 1920px;
  height: 1687px;
  &_title {
    width: 602px;
    height: 36px;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 10px;
    text-align: left;
    color: $black-two;
    position: absolute;
    top: 148px;
    left: 662px;
  }
  &_content {
    width: 675px;
    height: 52px;
    margin-top: 50px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: $black-two;
    position: absolute;
    top: 198px;
    left: 615px;
  }
  &_button {
    width: 200px;
    height: 60px;
    border: solid 3px #020001;
    background-color: $white;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    color: $black-three;
    cursor: pointer;
    position: absolute;
    top: 339px;
    left: 850px;
  }
  &_video-0 {
    width: 1251px;
    height: 823px;
    object-fit: contain;
    position: absolute;
    top: 471px;
    left: 335px;
  }

  &_video-01 {
    width: 411px;
    height: 204px;
    object-fit: contain;
    position: absolute;
    top: 1336px;
    left: 348px;
  }

  &_video-02 {
    width: 90px;
    height: 83px;
    object-fit: contain;
    position: absolute;
    top: 1328px;
    left: 1182px;
  }
  &_video-03 {
    width: 146px;
    height: 146px;
    object-fit: contain;
    position: absolute;
    top: 1226px;
    left: 223px;
  }
  &_video-04 {
    width: 262px;
    height: 512px;
    object-fit: none;
    object-position: -335px 0;
    position: absolute;
    top: 314px;
    left: 0;
  }
  &_video-05 {
    width: 146px;
    height: 114px;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 226px;
  }
  &_video-06 {
    width: 130px;
    height: 130px;
    object-fit: contain;
    position: absolute;
    top: 270px;
    right: 224px;
  }
  &_video-07 {
    width: 146px;
    height: 146px;
    object-fit: contain;
    position: absolute;
    top: 168px;
    right: 150px;
  }
  &_video-08 {
    width: 395px;
    height: 512px;
    object-fit: none;
    object-position: 0 0;
    position: absolute;
    top: 971px;
    right: 0;
  }
  &_video-09 {
    width: 175px;
    height: 315px;
    object-fit: none;
    object-position: 0 0;
    position: absolute;
    top: 656px;
    right: 0;
  }
}
